body {
    padding: 0;
    box-sizing: border-box;
    padding: 45px;
    background:rgb(176, 173, 176);
    height: 100vh;
   
}


.add {

    background-color: rgb(18, 46, 89);
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    width: 80px;
    padding: 15px;
    border-radius: 10px;
    color: rgb(253, 250, 250);
}

.top {
    display: flex;
    justify-content: space-between;
}

.head {
    margin-left: 30%;
}

.top p {
    margin-right: -10px;
    margin-top: -15px;
    font-size: 20px;
    cursor: pointer;
}

#btn {
    width: 85%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    margin: 20px 0px;
    background-color: rgb(8, 133, 216);
    cursor: pointer;
    font-weight: 900;
    color: white;
    
}

#titele,
#dis {
    width: 80%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;


}

.form1 {
    font-weight: 900;
    margin-top: 10px;
}

.form {
    width: 320px;
    position: fixed;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 20%);
    top: 10%;
    text-align: center;
    background-color: rgb(71, 71, 72);
    padding: 5px;
    display: none;
    color: rgb(252, 248, 248);
    border-radius: 10px;
}
#p{
    font-size: 30px;
    color: rgb(255, 253, 253);
}
.fa-plus{
    font-size: 20px;
    
}
.note {
    display: flex;
    gap: 20px;
    justify-content: start;
    flex-wrap: wrap;
    


}

.mynote {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color:rgb(254, 254, 253);
    padding: 20px;
    color: rgb(33, 33, 33);
   border-radius: 10px;
    height: auto;
   
} 

.mynote:hover{
    box-shadow: 1px 1px 1px 1px white;
}

.mynote button {
    width: 100px;
    height: auto;
    text-align: center;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color:black;
    color: white;
    margin-top: 10px;
    font-weight: bold;
    
    
}
.mynote button:hover{
    background: aqua;
    color: black;
}